name: ci-cd
on:
  push:
    paths-ignore:
      - "README.md"
      - "CONTRIBUTING.md"
      - "CHANGELOG.md"
      - "LICENSE"
      - ".gitignore"
jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    env:
      LEIN_ROOT: "true"
      CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
      CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TEST_OBJECT_STORAGE_S3_BUCKET: ${{ vars.TEST_OBJECT_STORAGE_S3_BUCKET }}
      TEST_OBJECT_STORAGE_S3_ENDPOINT: ${{ vars.TEST_OBJECT_STORAGE_S3_ENDPOINT }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Install Clojure Tools
        uses: DeLaGuardo/setup-clojure@12.5
        with:
          lein: '2.12.0'
          clj-kondo: '2026.01.19'

      - name: Check formatting
        run: lein cljfmt check

      - name: Lint
        run: clj-kondo --lint src --lint test && lein eastwood

      - name: Test
        run: lein test :all

      - name: Deploy Jar to Clojars
        if: contains(github.ref, 'refs/tags/')
        run: lein deploy
